.main{
    margin-top: 120px;
}
.reader__box{
    display: flex;
    gap: 45px;
}
.reader__info{
    margin-top: 30px;
}
.reader__info p:nth-child(1), .reader__info p:nth-child(2) {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}
.reader__info p:nth-child(3) {
    margin-top: 25px;
    margin-bottom: 5px;
}
.reader__books{
    margin-top: 70px;
    margin-bottom: 70px;
}
.reader__books p:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
.books__box{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
}
.item__img{
    width: 180px;
    height: 245px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.item__img img{
    width: 100%;
}
.item__img:hover{
    width: 200px;
    height: 265px;
    transition-duration: 0.6s;
}
.book__item p{
    margin-top: 5px;
}
.book__item p:last-child{
    opacity: 0.9;
    font-size: 18px;
}