<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/base.css">
    <link rel="stylesheet" href="/styles/css/catalog.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container_">
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/catalog.html">Каталог</a></li>
                        <li><a href="/author.html">Авторы</a></li>
                        <li><a href="">Профиль</a></li>
                        <li><a href="/readers.html">Читатели</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="container_">
                <div class="category__title">
                    <p>Русская литература</p>
                </div>
                <div class="main__search">
                    <p>Поиск</p>
                    <div class="search__form">
                        <button type="submit">
                            <img src="/images/svg/search.svg" alt="">
                        </button> 
                        <input type="search" id="site-search" name="q" />
                    </div>
                    <div class="search__result">
                        <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover.png" alt="">
                                </div>
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                        <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover.png" alt="">
                                </div>    
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                        <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover.png" alt="">
                                </div>    
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                        <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover.png" alt="">
                                </div>    
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                         <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover.png" alt="">
                                </div>    
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                        <div class="search__book__item">
                            <a href="/book.html" class="book__link">
                                <div class="book__img">
                                    <img src="/images/img/bookcover2.png" alt="">
                                </div>    
                                <p class="book__title">Анна Каренина</p>
                                <p class="book__author">Л.Н. Толстой</p>    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container_">
                <p>OOO "Library"</p>
            </div>
        </footer>
    </div>
    <script src="/styles/js/script.js"></script>
</body>
</html>